@import url('https://fonts.googleapis.com/css2?family=Karla&family=Open+Sans:wght@300&family=Raleway:wght@300;400;700&family=Roboto&display=swap');
//import universals
@import "../../style/universal.scss";

//variables SASS
$color-background: linear-gradient(180deg, #FFFEFA 0%, #FFE031 0%, #FFFEFA 0.01%, #FCFCFC 100%);
$color-dark-purple: #414141;
$color-main-yellow: #FFE031;
$color-gray-dark: #6C6C6C;
$color-gray-light: #F2F2F2;

$fontFamily: 'Roboto';

