@import url('https://fonts.googleapis.com/css2?family=Karla&family=Open+Sans:wght@300&family=Raleway:wght@300;400;700&family=Roboto&display=swap');
//import universals
@import "../../style/universal.scss";

//variables SASS
$color-background: linear-gradient(180deg, #FFFEFA 0%, #FFE031 0%, #FFFEFA 0.01%, #FCFCFC 100%);
$color-dark-purple: #414141;
$color-main-yellow: #FFE031;
$color-gray: #A7A7A7;
$color-gray-dark: #6C6C6C;
$fontFamily: 'Roboto';


.body{
    width: 100%;
    height: 100vh;
    background-color: $color-background;
    font-family: $fontFamily;
    overflow: hidden;
}

.mainSearch{
    width: 90%;
    margin: 0 auto;
    height: 88vh;
    &__form{
        margin-top: 25px;
        width: 100%;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #F2F2F2;
        color: $color-gray;
        width: 100%;
        border-radius: 10px;
        padding: 5px 20px;
        input{
            height: 100%;
            background-color: #F2F2F2;
            color: $color-gray;
            width: 100%;
            border-radius: 10px;
            border: none;
            outline: none;
        }
        button{
            background: none;
            border: none;
        }
    }
    &__listSection{
        display: flex;
        flex-direction: column;
        gap: 15px;
        h3{
            font-size: 14px;
            font-weight: 500;
            color: $color-dark-purple;
            margin-top: 15px;
        }
    }
    &__listContainer{
        height: 65vh;
        display: flex;
        flex-direction: column;
        gap: 5px;
        p{
            font-size: 14px;
            color: $color-gray;
            width: 100%;
            cursor: pointer;

        }
    }
    &__cardsContainer{
        margin-top: 30px;
        height: 75vh;
        overflow-y: scroll;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-between;
    }
    &__card{
        width: 160px;
        height: 182px;
        background-color: #FFFFFF;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        img{
            width: 154px;
            height: 110px;
            border-radius: 10px;
        }
        h4{
            width: 14px;
            color: $color-dark-purple;
            width: 90%;
        }
        p{
            font-size: 14px;
            width: 90%;
            color: $color-gray-dark;
        }
    }
}


.footerSearch{
    width: 90%;
    height: 6.4vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    img{
        cursor: pointer;
    }
}